.button-default {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans","HelveticaNeue","Helvetica Neue",sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 11px 11px;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
  border: 2px solid transparent;
  &.-full {
    width: 100%;
  }
  &.-large {
    max-width: 300px;
    width: 100%;
  }
  &.-center {
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 1023px) {
    &.-full-mobile {
      display: block;
      max-width: unset !important;
      width: 100% !important;
    }
  }

  &.-primary {
    background: $primary !important;
    color: #fff !important;
    border-color: $primary !important;
    &.-outline {
      background: transparent !important;
      color: $primary !important;
    }
    @media (min-width: 1024px) {
      &:hover {
        background: $primary !important;
        border-color: $primary !important;
        color: #fff !important;
        &.-outline {
          color: #fff !important;
        }
      }
    }
  }

  &.-secondary {
    background: $secondary !important;
    color: #fff !important;
    border-color: $secondary !important;
    &.-outline {
      background: transparent !important;
      color: $secondary !important;
    }
    @media (min-width: 1024px) {
      &:hover {
        background: $secondary !important;
        border-color: $secondary !important;
        color: #fff !important;
        &.-outline {
          color: #fff !important;
        }
      }
    }
  }

  &.-tertiary{
    background: $tertiary!important;
    color: #fff !important;
    border-color: $tertiary!important;
    &.-outline {
      background: transparent !important;
      color: $tertiary!important;
    }
    @media (min-width: 1024px) {
      &:hover {
        background: $tertiary!important;
        border-color: $tertiary!important;
        color: #fff !important;
        &.-outline {
          color: #fff !important;
        }
      }
    }
  }

  &.-white {
    background: #fff !important;
    border-color: #fff !important;
    color: $secondary !important;
    &.-outline {
      background: #fff !important;
      color: $secondary !important;
      border-color: $secondary !important;
    }
  }
}

